.CardMarket {
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #3333;
    background-color: #00000034;
    padding: 10px;
    text-align: center;
    border: 1px solid #ffffff80
}
.CardView {
    color: white;
    text-align: left;
}

.Price{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: small; */
}