.full {
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family:'Times New Roman', Times, serif; */
}

.card {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 10%;
}

.card>* {
  width: 80%;
  max-width: 1000px;
  border-radius: 7px;
  margin: 10px 10px;
  font-size: 16px;
  text-align: left;
  background-color: #ffffff05;
  border-radius: 7px;
  padding-bottom: 5px;
  padding-top: 5px;

}

.background {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.namespace>* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}
.head_detail_text{
  font-size: 10px;
  color: rgb(182, 182, 182);
  margin-bottom: 0;
  /* display: flex; */
}

.type {
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.205);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  place-content: end;
}

.description>* {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

.stats>* {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 4px;
}

.stat {
  color: white;
  background-color: #ffffff05;
  padding: 5px;
}

.icon_stat {
  height: 25px;
}

.detail_content{
  display:block;  
  
}

.details>* {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: fit-content;
  height: 25px;
}
.items{
  display: flex;
  gap: 5%;
}

.icon_element {
  height: 20px;
}

.line {
  background-color: rgba(255, 255, 255, 0.144);
  height: 1px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5%;
  margin-left: 5%;
}

.spells_space>* {
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

.spells_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}