.full {
  display: flex;
}

.card {
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 10%;
}

.card>* {
  width: 80%;
  border-radius: 7px;
  margin: 10px 10px;
  font-size: 16px;
  text-align: left;
  background-color: #ffffff05;
  border-radius: 7px;
  padding-bottom: 5px;
  padding-top: 5px;

}

.background {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.namespace>* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

.type {
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.205);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  place-content: end;
}

.description>* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
}

.stats>* {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 4px;
}

.stat {
  color: white;
  background-color: #ffffff05;
  padding: 5px;
}

.icon_stat {
  height: 25px;
}

/* .details {
  display: flex;
  border-radius: 7px;
} */

.details>* {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: fit-content;
}

.icon_element {
  height: 24px;
}

.fire {
  color: rgb(255, 100, 39);
  background-color: rgba(255, 187, 0, 0.137);
}

.rare {
  color: rgb(4, 255, 25);
  background-color: rgba(66, 209, 0, 0.151);
}


.line {
  background-color: rgba(255, 255, 255, 0.144);
  height: 0.08px;
  border: none;
  margin-top: 0px;
  margin-right: 5%;
  margin-left: 5%;
}

.spells_space>* {
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

.spells_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}