.spell {
    color: rgb(255, 255, 255);
    width: 75px;
    height: 75px;
    border-radius: 25%;
    box-shadow: 2px 2px 5px #3333;
    background-color: #00000034;
    /* padding: 10px; */
    text-align: center;
    border: 2px solid #ffffff80;
    opacity: 0.9;
}

.spell.highlight {
    opacity: 1;
    border: 2px solid #ffffffcc;
    zoom: 100%;
}

.infoBox {
    display: none;
    position: fixed;
    background-color: #00000071;
    /* border:  1px solid #cccccc81; */
    padding: 10px;
    border-radius: 7px;
    width: 400px;
    max-width: 70%;
    /* padding: 10px; */
    /* Posicionamiento específico según tus necesidades */
}

.infoBox.hidden {
    display: block;
}

.infoBox>* {
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
}

.right_bottom {
    display: flex;
    place-content: end;
    font-family: 'Courier New', Courier, monospace;
}

.right_bottom>* {
    font-size: 20px;
}

.damage {
    color: rgb(107, 161, 207);
    /* font-style: italic; */
    font-family: 'Courier New', Courier, monospace;
}

.damage_type {
    border-radius: 7px;
    color: rgb(126, 167, 255);
    background-color: rgba(144, 103, 255, 0.205);
    width: auto;
}

.healt_type {
    color: rgb(4, 255, 25);
    background-color: rgba(66, 209, 0, 0.151);
    border-radius: 7px;
    width: fit-content;
}

.icon_cost {
    height: 20px;
    margin-left: 10px;
}

.text_cost {
    display: flex;
    place-items: center;
    color: rgb(123, 202, 255);
}

.text_cooldown {
    display: flex;
    place-items: center;
    color: rgb(255, 184, 92);
    /* bottom: 10px;
    position: inherit; */
}

.spell_details {
    display: flex;
    width: fit-content;
    /* font-size: 22px; */
}

.spell_details>* {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    gap: 10px;
    border-radius: 5px;
}