.navbar {
    background-color: #101016;
    padding:  10px  0px;
    width:  100%;
    z-index:  11;
    margin-left: 20px;
  }

  .navbar-links a {
    color: #fff;
    text-decoration: none;
    /* text-align: left; */
  }
  
  .line_bar {
    background-color: rgba(255, 255, 255, 0.164);
    height: 1px;
    border: none;
    width: 100%;
    position: absolute;
    left: 0;
  }